<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mqq.mapper.SubmissionMapper">

    <select id="batchLatestSubmitAt" resultType="java.util.Map">
        select survey_id, max(submit_at) as latest_submit_at from submission
        where survey_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        group by survey_id
    </select>

</mapper>
